* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #F4E285;
}

h1{
    color: #456990;
}

.logoimg{
    height: 5px;
    width: 5px;
}